@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto&display=swap");
header {
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #252525;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  font-size: 20px;
}

@media (max-width: 500px) {
  header {
    height: 40px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 70%;
  margin-left: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav h1 {
  font-family: 'Concert One', cursive;
  margin-right: 10%;
  color: white;
  font-size: 20px;
}

@media (max-width: 700px) {
  .nav h1 {
    font-size: 10px;
  }
}

.logo {
  margin-left: 5%;
  height: 70%;
}

.introduccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

.introduccion img {
  width: 100%;
}

.introduccion div {
  max-width: 35%;
  background-color: #ff4d00c2;
  position: absolute;
  right: 0%;
  top: 30%;
}

.introduccion div p {
  font-family: 'Roboto', sans-serif;
  margin-right: 10%;
  margin-left: 10%;
  color: white;
  font-size: 15px;
}

@media (max-width: 782px) {
  .introduccion div p {
    font-size: 10px;
  }
}

.half-image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 600px) {
  .half-image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.half-image--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .half-image--content {
    width: 100%;
  }
}

.half-image--content p {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  width: 60%;
}

@media (max-width: 700px) {
  .half-image--content p {
    font-size: 15px;
  }
}

.half-image--content p strong {
  color: darkgreen;
}

.reticule {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reticule__item {
  width: 30%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.half-image img {
  width: 50%;
}

@media (max-width: 600px) {
  .half-image img {
    width: 100%;
  }
}

.field {
  margin-top: 50px;
}

@media (max-width: 500px) {
  .field {
    margin-top: 20px;
  }
}

.field h2 {
  font-family: 'Roboto', sans-serif;
  color: darkgreen;
  font-size: 15px;
}

@media (max-width: 500px) {
  .field h2 {
    font-size: 8px;
  }
}

.field button {
  color: white;
  background: darkgreen;
  width: 100%;
  height: 20%;
}

@media (max-width: 1000px) {
  .field button {
    margin-bottom: 10px;
  }
}

.galery {
  position: relative;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
  margin-bottom: 30px;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

footer {
  background-color: #252525;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info {
  padding: 20px;
  width: 30%;
}

footer h3 {
  color: #ff4d00c2;
  font-family: 'Roboto', sans-serif;
  font-size: 20;
}

@media (max-width: 600px) {
  footer h3 {
    font-size: 10px;
  }
}

footer p {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

@media (max-width: 600px) {
  footer p {
    font-size: 5px;
  }
}

.mainSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 500px;
  padding: 10px;
}

@media (max-width: 600px) {
  .mainSection {
    height: 300px;
  }
}

.bal-container {
  margin: 0 10px;
}

/* Before After Container */
.bal-container {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: -webkit-grab;
  cursor: grab;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bal-after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bal-before {
  display: block;
  position: absolute;
  top: 0;
  /* right: 0; */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  overflow: hidden;
}

.bal-before-inset {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.bal-after img,
.bal-before img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.bal-beforePosition {
  background: #121212;
  color: #fff;
  left: 0;
  pointer-events: none;
  border-radius: 0.2rem;
  padding: 2px 10px;
}

.bal-afterPosition {
  background: #121212;
  color: #fff;
  right: 0;
  pointer-events: none;
  border-radius: 0.2rem;
  padding: 2px 10px;
}

.beforeLabel {
  position: absolute;
  bottom: 0;
  margin: 1rem;
  font-size: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.afterLabel {
  position: absolute;
  bottom: 0;
  margin: 1rem;
  font-size: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

/* handle and arrow */
.bal-handle {
  height: 41px;
  width: 41px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -21px;
  border: 2px solid #fff;
  border-radius: 1000px;
  z-index: 20;
  pointer-events: none;
  -webkit-box-shadow: 0 0 10px #0c0c0c;
          box-shadow: 0 0 10px #0c0c0c;
}

.handle-left-arrow,
.handle-right-arrow {
  width: 0;
  height: 0;
  border: 6px inset transparent;
  position: absolute;
  top: 50%;
  margin-top: -6px;
}

.handle-left-arrow {
  border-right: 6px solid #fff;
  left: 50%;
  margin-left: -17px;
}

.handle-right-arrow {
  border-left: 6px solid #fff;
  right: 50%;
  margin-right: -17px;
}

.bal-handle::before {
  bottom: 50%;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 10px #0c0c0c;
          box-shadow: 0 0 10px #0c0c0c;
}

.bal-handle::after {
  top: 50%;
  margin-top: 20.5px;
  -webkit-box-shadow: 0 0 5px #0c0c0c;
          box-shadow: 0 0 5px #0c0c0c;
}

.bal-handle::before,
.bal-handle::after {
  content: " ";
  display: block;
  width: 2px;
  background: #fff;
  height: 9999px;
  position: absolute;
  left: 50%;
  margin-left: -1.5px;
}
/*# sourceMappingURL=main.css.map */